<a href="https://colab.research.google.com/github/2303A51494/2303A51494--B27/blob/main/LAb5_PDS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

customers = pd.DataFrame({
    "customer_id": [1, 2, 3, 4],
    "name": ["Ravi", "Sneha", "Amit", "Priya"],
    "city": ["Delhi", "Mumbai", "Delhi", "Bangalore"]
})

transactions = pd.DataFrame({
    "transaction_id": [101, 102, 103, 104, 105, 106],
    "customer_id": [1, 2, 1, 3, 4, 2],
    "amount": [5000, 2000, 3000, 4000, 2500, 3500]
})

print("Customers Dataset:")
print(customers)

print("\nTransactions Dataset:")
print(transactions)

merged = pd.merge(transactions, customers, on="customer_id", how="inner")
print("\nMerged Dataset:")
print(merged)

customer_spend = merged.groupby(["customer_id", "name"])["amount"].sum().reset_index()
print("\nTotal Spend per Customer:")
print(customer_spend)

city_spend = merged.groupby("city")["amount"].sum().reset_index()
print("\nCity-wise Spending:")
print(city_spend)

top_spender = customer_spend.loc[customer_spend["amount"].idxmax()]
print("\nTop Spender:")
print(top_spender)

Customers Dataset:
   customer_id   name       city
0            1   Ravi      Delhi
1            2  Sneha     Mumbai
2            3   Amit      Delhi
3            4  Priya  Bangalore

Transactions Dataset:
   transaction_id  customer_id  amount
0             101            1    5000
1             102            2    2000
2             103            1    3000
3             104            3    4000
4             105            4    2500
5             106            2    3500

Merged Dataset:
   transaction_id  customer_id  amount   name       city
0             101            1    5000   Ravi      Delhi
1             102            2    2000  Sneha     Mumbai
2             103            1    3000   Ravi      Delhi
3             104            3    4000   Amit      Delhi
4             105            4    2500  Priya  Bangalore
5             106            2    3500  Sneha     Mumbai

Total Spend per Customer:
   customer_id   name  amount
0            1   Ravi    8000
1            2  Sneha    5500
2            3   Amit    4000
3            4  Priya    2500

City-wise Spending:
        city  amount
0  Bangalore    2500
1      Delhi   12000
2     Mumbai    5500

Top Spender:
customer_id       1
name           Ravi
amount         8000
Name: 0, dtype: object

In [2]:
import pandas as pd

patients = pd.DataFrame({
    "patient_id": [1, 2, 3, 4],
    "name": ["Ravi", "Sneha", "Amit", "Priya"],
    "age": [30, 25, 40, 35]
})

appointments = pd.DataFrame({
    "appointment_id": [101, 102, 103, 104, 105, 106, 107],
    "patient_id": [1, 2, 1, 3, 4, 2, 1],
    "doctor": ["Dr.A", "Dr.B", "Dr.C", "Dr.A", "Dr.B", "Dr.A", "Dr.C"]
})

print("Patients Dataset:")
print(patients)

print("\nAppointments Dataset:")
print(appointments)

merged = pd.merge(appointments, patients, on="patient_id", how="inner")
print("\nMerged Dataset:")
print(merged)

patient_visits = merged.groupby(["patient_id", "name"])["appointment_id"].count().reset_index(name="visits")
print("\nAppointments per Patient:")
print(patient_visits)

doctor_workload = merged.groupby("doctor")["appointment_id"].count().reset_index(name="appointments_handled")
print("\nDoctor Workload:")
print(doctor_workload)

top_patient = patient_visits.loc[patient_visits["visits"].idxmax()]
print("\nPatient with Maximum Visits:")
print(top_patient)

Patients Dataset:
   patient_id   name  age
0           1   Ravi   30
1           2  Sneha   25
2           3   Amit   40
3           4  Priya   35

Appointments Dataset:
   appointment_id  patient_id doctor
0             101           1   Dr.A
1             102           2   Dr.B
2             103           1   Dr.C
3             104           3   Dr.A
4             105           4   Dr.B
5             106           2   Dr.A
6             107           1   Dr.C

Merged Dataset:
   appointment_id  patient_id doctor   name  age
0             101           1   Dr.A   Ravi   30
1             102           2   Dr.B  Sneha   25
2             103           1   Dr.C   Ravi   30
3             104           3   Dr.A   Amit   40
4             105           4   Dr.B  Priya   35
5             106           2   Dr.A  Sneha   25
6             107           1   Dr.C   Ravi   30

Appointments per Patient:
   patient_id   name  visits
0           1   Ravi       3
1           2  Sneha       2
2           3   Amit       1
3           4  Priya       1

Doctor Workload:
  doctor  appointments_handled
0   Dr.A                     3
1   Dr.B                     2
2   Dr.C                     2

Patient with Maximum Visits:
patient_id       1
name          Ravi
visits           3
Name: 0, dtype: object